<ion-header>
  <ion-toolbar>
    <ion-button (click)="dismiss()" fill="clear" slot="start">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Quiztitle</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Category</ion-label>
    <ion-select interface="popover" [(ngModel)]="chosenCategory">
      <ion-select-option *ngFor="let category of this.categories" [value]="category">{{category}}</ion-select-option>
    </ion-select>
  </ion-item>

  <h2>Questions</h2>
  <ion-button>
    <ion-icon name="add"/>
  </ion-button>
</ion-content>



  <ion-button color="primary" expand="block">Save Quiz</ion-button>

