<ion-content>

  <div class="ion-padding">
    <ion-title color="primary">
      Configure Answers
    </ion-title>
    <br>
    <ion-text class="ion-text-wrap">Tap the text in an answer field to change it.</ion-text><br><br>
    <ion-text >Use the toggle to mark an answer as
      <ion-text color="success">correct</ion-text> or
      <ion-text color="danger">incorrect</ion-text>
    </ion-text><br><br>
    <ion-text >
      Tap <ion-icon name="trash"></ion-icon> to delete an answer.
    </ion-text><br><br>
    <ion-text >
      A question must contain at least 2 answers and 6 answers at max.
    </ion-text>
    <ion-button expand="block" (click)="dismissPopover()">Got it</ion-button>
  </div>
</ion-content>

