<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <ion-button expand="block" (click)="openQuizEditor('Create Quiz')">
    Create Quiz
  </ion-button>
  <ion-title>
    <h2>
      Your Quizzes
    </h2>
  </ion-title>

  <ion-list>

    <ion-item *ngFor="let quiz of this.ownQuizzes; let i = index">
      {{quiz.title}}

      <ion-icon (click)="deleteQuiz(quiz,i)" slot="end" name="trash"></ion-icon>

      <ion-icon (click)="openQuizEditor('Edit Quiz',quiz.linkToEdit)" slot="end" name="create"></ion-icon>

    </ion-item>

  </ion-list>
</ion-content>
