<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{name()}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{name()}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
      <ion-title *ngIf="points()">
        Points Total: {{points()}}
      </ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <div class="wrapper">
        <ion-text >Vibration ON / OFF</ion-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-toggle (click)="hapticsVibrate()" [(ngModel)]="hapticsOn"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row><ion-col></ion-col></ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="block" (click)="logout()">
          Logout <ion-icon slot="end" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
