<ion-header>
  <ion-toolbar>
    <ion-button (click)="dismiss()" fill="clear" slot="start">
      <ion-icon name="close" ></ion-icon>
    </ion-button>
      <ion-title>
        {{title}}
      </ion-title>
    <ion-title>
      Points {{quiz.currentPoints}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      {{quiz.currentQuestion.text}}
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let answer of quiz.currentQuestion.answers; let i = index" [attr.data-index]="i">
        <ion-card [color]="selectColor(answer.inCorrect)" (click)="answerQuestion(i)">
          <ion-card-content>
            {{answer.text}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
