<ion-header>
  <ion-toolbar>
    <ion-button (click)="dismiss()" fill="clear" slot="start">
      <ion-icon name="close" ></ion-icon>
    </ion-button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small" *ngIf="!endReached && quiz">
      Points {{quiz.currentPoints}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content (click)="continue()" *ngIf="quiz">

  <ion-card class="question ion-text-center">
    <ion-card-header>
      <ion-card-title>
        <h1 *ngIf="!endReached">
          {{quiz.currentQuestion.text}}
        </h1>
        <h1 *ngIf="endReached">
          Congratulations you finished the Quiz with <ion-text color="success"><b>{{quiz.currentPoints}}</b></ion-text>  Points
        </h1>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-grid *ngIf="!endReached">
    <ion-row>
      <ion-col size="6" *ngFor="let answer of quiz.currentQuestion.answers">
        <ion-card [color]="selectColor(answer.isCorrect)" (click)="answerQuestion(answer.nr)">
          <ion-card-content>
            {{answer.text}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <!--TODO: save points somewhere-->
    <ion-button *ngIf="endReached" size="large" color="success" expand="block" (click)="endQuiz()">
      Close
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </ion-grid>

</ion-content>
