<ion-header>
  <ion-toolbar>
    <ion-button (click)="dismiss()" fill="clear" slot="start">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>
      {{pageTitle}}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()" class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Quiztitle</ion-label>
      <!-- [(ngModel)]="this.editQuizService.quizToEdit.title"-->
      <ion-input formControlName="quizTitle" [value]="this.editQuizService.quizToEdit.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-select formControlName="categoryName" interface="popover" [value]="editQuizService.quizToEdit.categoryName">
        <ion-select-option *ngFor="let category of this.categories" [value]="category">{{category}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!--Questions-->
    <ion-text>
      <h2>Questions</h2>
    </ion-text>
    <ion-list>
      <ion-item *ngFor="let question of editQuizService.quizToEdit.questions; let i = index">
        <ion-label>{{question.text}}</ion-label>
        <ion-icon (click)="deleteQuestion(i)" slot="end" name="trash"></ion-icon>

        <ion-icon (click)="openQuestionEditor(question.text, question.answers, i)" slot="end" name="create"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button fill="outline" expand="block" (click)="openQuestionEditor('',editQuizService.getDefaultAnswers())">
      <ion-icon name="add"></ion-icon>
    </ion-button>

  </form>

</ion-content>
<ion-button type="submit" [disabled]="!quizForm.valid || !this.questionExists()" *ngIf="link==null" color="primary" expand="block" (click)="submitQuiz()">Save Quiz</ion-button>
<ion-button type="submit" [disabled]="!quizForm.valid || !this.questionExists()" *ngIf="link!=null" color="primary" expand="block" (click)="updateQuiz()">Update Quiz</ion-button>




